config SMARTHOME_MQTTSN_DEVICE
	bool "Enable MQTTSN device library"

if SMARTHOME_MQTTSN_DEVICE

config SMARTHOME_MQTTSN_DEVICE_MQTTSN_ENABLED
	bool "Enable MQTT-SN client"
	default y
	help
	  While this is the main purpose of this library, there is some code in
	  here, that's useful for the router application, which doesn't need
	  MQTT-SN.

config SMARTHOME_MQTTSN_DEVICE_MAX_CLIENTID_LENGTH
	int "Max client ID length"
	default 23

config SMARTHOME_MQTTSN_DEVICE_BUFFER_SIZE
	int "Size of the TX and RX buffers"
	default 255

config SMARTHOME_MQTTSN_DEVICE_RETRY_WAIT_DURATION
	int "Number of seconds to wait before attempting a retry after errors"
	default 10

config SMARTHOME_MQTTSN_DEVICE_RECONNECT_WAIT_DURATION
	int "Number of seconds to wait before attempting a reconnect"
	default 60

module = SMARTHOME_MQTTSN_DEVICE
module-str = smarthome mqttsn device
source "subsys/logging/Kconfig.template.log_config"

endif # SMARTHOME_MQTTSN_DEVICE
